@model GitAspx.ViewModels.BlobViewModel
@using GitAspx;
@using GitAspx.Properties;
@{
    ViewBag.Title = Model.Title;
}

<div class="repositoryContainer">
    <h1>
        <a href="@Url.Content("~/")">git</a> /
        <a href="@Url.Content("~/" + Model.Project)">
            @Model.Project
        </a>

        @Url.Segments(Model)
    </h1>

    <div class="blob-content">
        <table>
            <tr style="vertical-align: top">
                <td>
                    @for (int lineNum = 1, maxLine = Model.File.Data.SplitLines().Count();
                        lineNum <= maxLine; lineNum++)
                    {
                        <div>@lineNum</div>
                    }
                </td>
                <td style="width: 100%">
                    @foreach (string line in Model.File.Data.SplitLines())
                    {
                        if (line.Length == 0)
                        {
                            <div>&nbsp;</div>
                        }
                        else
                        {
                            <div style="width: 10000px">
                                @(new MvcHtmlString(line.ToHtmlWithSpaces()))
                            </div>
                        }
                    }
                </td>
            </tr>
        </table>
    </div>
</div>